<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209276924145-f5l4ppmdv2i08t8h9u229vc1mavmbcrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209276924145-f5l4ppmdv2i08t8h9u229vc1mavmbcrm</string>
	<key>API_KEY</key>
	<string>AIzaSyDyBy1pqsMBlCWQoq9DCVSQSq40-XJfPdA</string>
	<key>GCM_SENDER_ID</key>
	<string>209276924145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team17.jaaz</string>
	<key>PROJECT_ID</key>
	<string>ja-arizona-26ebd</string>
	<key>STORAGE_BUCKET</key>
	<string>ja-arizona-26ebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209276924145:ios:fb2590455176e748</string>
	<key>DATABASE_URL</key>
	<string>https://ja-arizona-26ebd.firebaseio.com</string>
</dict>
</plist>